*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

#editor{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#code_editor {
    height: 100%;
    width: 100%;
    border-right: 1px solid rgb(199, 197, 197);
}

#code_output{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
}

#output{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    border-right: 1px solid rgb(199, 197, 197);
    border-bottom: 1px solid rgb(199, 197, 197);
}

.tabs li {
    padding: 12px 10px;
    width: 120px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    user-select: none;
}

.active {
    background-color: #e61837ec;
    color: white;
    font-weight: 700;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.run {
    margin: 3px 12px;
    margin-right: 0;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 80px;
    background-color: #e61837ec;
    color: white;
    cursor: pointer;
}

.run:active {
    background-color: #680c1aec;
}

.select {
    padding: 5px 20px;
}


@media (max-width: 1024px) {
    .tabs {
        padding: 0 5px 0 0;
    }

    .tabs li {
        padding: 12px 8px;
        width: 70px;
        font-size: 12px;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
    }

    .run {
        padding: 8px 20px;
    }

    .select {
        margin-left: 8px;
        padding: 3px 10px;
    }
}

@media (max-width: 860px){
    body{
        flex-direction: column;
    }
    #editor{
        width: 100%;
        height: 50%;
    }
    
    #code_editor {
        height: 100%;
        width: 100%;
        font-size: 12px;
    }
    
    #code_output{
        height: 50%;
        width: 100%;
    }

    #output{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    
}